variables:
  IMAGE_NAME: $CI_REGISTRY_IMAGE/employee
  TAG_LATEST: $IMAGE_NAME/$CI_COMMIT_REF_NAME:latest
  TAG_COMMIT: $IMAGE_NAME/$CI_COMMIT_REF_NAME:$CI_COMMIT_SHA
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
  GIT_DEPTH: "0"

stages:
  - build
  - sonarqube_scan
  - deploy

# ---------- BUILD ----------
build_app_image:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $TAG_LATEST .
    - docker build -t $TAG_COMMIT .
    - docker push $TAG_LATEST
    - docker push $TAG_COMMIT
  only:
    - master
    - develop

# ---------- Code Quality Scan ----------
sonarcloud-check:
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [""]
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner
  only:
    - merge_requests
    - master
    - develop

# ---------- DEPLOY Vercel ----------
deploy-vercel:
  stage: deploy
  image: node:20
  variables:
    TOKEN: $VERCEL_TOKEN
    # เปลี่ยนชื่อตัวแปรให้รู้ว่าเป็นของโปรเจค Employee
    VERCEL_ORG_ID: $VERCEL_ORG_ID_EMPLOYEE
    VERCEL_PROJECT_ID: $VERCEL_PROJECT_ID_EMPLOYEE
  script:
    - npm install --global vercel
    - vercel pull --yes --environment=preview --token="$TOKEN"
    - vercel build --token="$TOKEN"
    - vercel deploy --prebuilt --token="$TOKEN"
  only:
    - develop
    - master